@import 'assets/styles/common/var';
.menu-item{
  color: $--color-dark-2;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 15px;
  &:hover {
    background-color: rgba($color: #ddd, $alpha: .3);
  }
  >span {
    margin-top: 1px;
    margin-right: 6px;
  }
}