@import 'assets/styles/common/var';
.button {
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  padding: 2px;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  outline: none;
  &.primary {
    padding: 0 10px;
    border-radius: 4px;
  }
  &:hover {
    background-color: $--color-white-opacity2;
  }
  &.round {
    border-radius: 50%;
  }
}
