@import 'assets/styles/common/var';

.heading {
  margin-top: 20px;
}
.content {
  flex: 1;
  padding: 40px 0;
}
.tabs {
  display: flex;
  align-items: center;
  height: 36px;
}
.body {
  border-top: 1px solid $--color-gray;
}

.table-alia {
  color: $--color-white-4;
  margin-left: 6px;
}
