@import './common/var';
@import './common/reset';


#root {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 15px;
}